<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperação de senha</title>
</head>
<body style="width: 100%; margin: 0; padding: 0">

<div style="width: 100%; background: whitesmoke; padding: 30px">

    <div style="width: 680px; margin: auto; padding: 80px 30px; color: #e3e3e3; background: #333; text-align: center; font-family: 'Segoe UI', 'SansSerif'; ">

        <div>
            <img style="width: 300px;" src="https://egpmdeveloper.lucasjunior.com.br/upload/Imagens/20190628181453.png"
                 alt="Logo Enontro Gamer">
        </div>

        <div>
            <h2>Olá [[st_nome]]! 😁</h2>
            <h3>Recebemos o seu pedido de redefinição de senha!</h3>

            <p>Segue abaixo o seu código de confirmação para prosseguir com o processo! <br>
                Se você não solicitou esta alteração, ignore este email.</p>
        </div>

        <p style="padding: 20px 50px; border: 3px solid #bbb; font-weight: 600; font-size: 24px; margin: 50px 0;">
            [[st_codigo]]
        </p>

        <p>
            Caso tenha algum problema ao realizar o processo, procure o responsável pelo sistema.
        </p>

    </div>

</div>

</body>
</html>
